@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>
        InventoryHub
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="~/js/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
</head>


<body class="">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid pe-0 d-flex justify-content-center">
                        <!-- Added 'd-flex justify-content-center' classes -->
                        <a href="#" class="navbar-brand font-weight-bolder h3">
                            <!-- Removed 'ms-lg-12 ms-3' classes -->
                            Welcome to InventoryHub
                        </a>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>

        </div>
    </div>
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                            <div class="card card-plain mt-8">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-info text-gradient">Warm Welcome</h3>
                                    <p class="mb-0">Create your new account in InventoryHub for free.</p>
                                </div>
                                <div class="card-body">
                                    <form role="form" id="SignInForm" action="@Url.Action("signupForm", "User" )" method="post">
                                        <label>Name</label>
                                        <div class="mb-3">
                                            <input name="Name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="name-addon" />
                                        </div>
                                        <label>Email</label>
                                        <div class="mb-3">
                                            <input name="Email" type="text" class="form-control" placeholder="Email" aria-label="Emial" aria-describedby="email-addon" />
                                        </div>
                                        <label>Mobile Number</label>
                                        <div class="mb-3">
                                            <input name="MobileNumber" type="text" class="form-control" placeholder="Mobile" aria-label="Mobile" aria-describedby="mobile-addon" />
                                        </div>
                                        <label>Location</label>
                                        <div class="mb-3">
                                            <input name="Location" type="text" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="location-addon" />
                                        </div>
                                        <label>Password</label>
                                        <div class="mb-3">
                                            <input name="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon" />
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" value="Sign Up">
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-4 text-sm mx-auto">
                                        Already have an account?
                                        <a href="@Url.Action("Index","User")" class="text-info text-gradient font-weight-bold">Sign In</a>
                                        <div style="color: red;">@ViewBag.Message</div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6">
                                    <img src="@Url.Content("~/Content/Images/curved-images/curved7.jpg")" alt="Curved Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-7">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto text-center mt-1">
                    <p class="mb-0 text-secondary">
                        ©
                        <script>document.write(new Date().getFullYear())</script> InventoryHub. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <!--   Core JS Files   -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
    <script>var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }</script>
    <!-- Github buttons -->
    <script async defer src="~/js/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>