@{
    Layout = Layout = "~/Views/Shared/_CustomUserLayout.cshtml";
}
@model string;
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <div class="d-flex justify-content-end align-items-center">
                    <h6 class="font-weight-bolder mb-0" style="margin-top: 35%;">Search</h6>
                </div>
            </nav>

        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="card">
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">Search Item</h6>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <div class="card z-index-0">
                            <div class="card-body">
                                <form role="form text-left" id="signUpForm" action="@Url.Action("searchItemForm", "Home")" method="post">
                                    <div class="row" id="beneficiaryRow">
                                        <div class="col-md-12 mb-3">
                                            <input name="productName" type="text" class="form-control" placeholder="Enter Item Name" aria-label="Item" aria-describedby="name-addon">
                                        </div>
                                        <div class="text-center">
                                            <button class="btn bg-gradient-dark w-100 my-4 mb-2" id="checkButton">Search</button>
                                        </div>
                                        <div class="text-center">
                                            <p style="color:deeppink">@Model</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer pt-3  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            ©
                            <script>document.write(new Date().getFullYear())</script>,
                            made with <i class="fa fa-heart"></i> by
                            <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Saad Sultan</a>
                            for a better web.
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Saad Sultan</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/Xdsaad5" class="nav-link text-muted" target="_blank">Git Hub</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.linkedin.com/in/saad17/" class="nav-link text-muted" target="_blank">Linked In</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://leetcode.com/xdsaad5/" class="nav-link pe-0 text-muted" target="_blank">LeetCode</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</main>
