@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");


section{
    padding:2rem 7%;
    background-color:white;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}
/* .header {
    color:#fff;
    text-transform: uppercase;
    pa
    padding-bottom: 2.5rem;
    font-size: 2rem;
    text-align: left;
} */
.bg {
    background-image: url("/static/image/img3.jpeg");
    color:white;
    background-color:white;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    backdrop-filter: blur(5px);
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    background-color: #67748e;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
    /* background:rgb(104, 104, 218); */
}

#menu-btn{
    display: none;
}




.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    /* min-height: 100vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    /* background:url(../images/main2.jpg) no-repeat; */
    background:url(../images/banner.jpg) no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}


.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    /* color:#fff; */
} 

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}
.home__subtitle
{
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--title-color);
  color:transparent;
}

.home__title
{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  margin: 0.5rem 0;
  color: white;
}

.home__subtitle,
.home__title{
  letter-spacing: 1.5px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */
.service-sec{
    background-color:white;
    opacity: 0.9;
}
.sec-title{
	margin-top: 2rem;
	width: 40%;
	/* color: #fff; */
}
.service-sec p{
	margin-top: 1rem;
    margin-bottom: 2rem;
	width: 80%;
	color: #fff;
	font-size: 1.8rem;
	opacity: .7;
}

.service-sec .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;

}

.service-sec .card {
    width: 21%;
    height: 29rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    border-radius: 5px;
    position: relative;
}
.service-sec .card::before{
	content: "";
	position: absolute;
	top: 10%;
	right: 10%;
	height: 2rem;
	width: 2rem;
	background: rgba(178, 56, 56, 0.32);
	opacity: .7;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.32);
	border-radius: 50%;
}
.service-sec .card i{
	font-size: 8rem;
}
.service-sec .card h4{
	font-size: 1.8rem;
	margin-top: 2rem;
}
.service-sec .card a{
	margin-top: .6rem;
	font-size: 2rem;
	border-bottom: 1px solid #fff;
}
.service-sec .card:hover i{
	animation: cardhover .5s linear;
}
@keyframes cardhover{
	0%,100%{
		transform: rotateY(0deg);
	}
	50%{
		transform: rotateY(90deg);
	}
}
@media only screen and (max-width: 900px) {
	.sec-title{
		font-size: 12px;
		width: 60%;
		margin-top: 1.5rem;
	}
	.service-sec p{
		margin-top: .3rem;
		width: 70%;
		font-size: 10px;
	}
	.service-sec .card{
		width: 80%;
		height: 200px;
		margin-top: .4rem;
	}
}






/* ////////////////////////////////////////////////////////////////////////////////////// */
.section__subtitle {
    /* font-size: var(--h2-font-size); */
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 1.5px;
    /* color: var(--first-color); */
    color: white;
    /* transform: rotate(-2deg); */
  }
.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
    
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}
/* #text  {
    display: inline;
} */
.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background:var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:#fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.lay: flex{
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}



/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

